.filters {
    display: flex;
    flex: 1 0;
    margin-left: 5%;
    flex-direction: column; 
}

.field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.field input {
    margin: 5px;
    height: 15%;
}

textarea {
    font-size: x-large;
    font-weight: bolder;
    padding: 0.5rem;
}