.query-wrapper {
    margin: 5vh 5vw;
    padding: 2vh 3vw;
    background-color: bisque;
    border-radius: 25px;
}

.query-wrapper header {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.query {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75%
}

.selector-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.selector {
    height: 30%;
    font-weight: bold;
    font-size: large;
    text-align: center
}